<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>SB Admin - Start Bootstrap Template</title>
  <!-- Bootstrap core CSS-->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Page level plugin CSS-->
  <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="css/sb-admin.css" rel="stylesheet">
  <% include header.ejs %>
</head>

<body>
  <h2 align="center">accelerometor</h2>
  <table class="table">
  <thead>
    <tr>
      <th scope="col">sensID</th>
      <th scope="col">teamID</th>
      <th scope="col">val_x</th>
      <th scope="col">val_y</th>
      <th scope="col">val_z</th>
      <th scope="col">date</th>
    </tr>
  </thead>
  <tbody>
    <% for(var i=0; i < data.length; i++) { %>
    <tr>
      <th scope="row"><%= data[i].sensID %></th>
      <td><%= data[i].teamID %></td>
      <td><%= data[i].val_x %></td>
      <td><%= data[i].val_y %></td>
      <td><%= data[i].val_z %></td>
      <td><%= data[i].date %></td>
    </tr>
    <% } %>
  </tbody>
</table>
</body>

</html>
