<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="vendor/datables/dataTables.bootstrap4.css">
  <% include header.ejs %>
</head>

<body>
  <h2 align="center">accelerometor</h2>
  <table class="table">
  <thead>
    <tr>
      <th scope="col">sensID</th>
      <th scope="col">teamID</th>
      <th scope="col">val_x</th>
      <th scope="col">val_y</th>
      <th scope="col">val_z</th>
      <th scope="col">date</th>
    </tr>
  </thead>
  <tbody>
    <% for(var i=0; i < data.length; i++) { %>
    <tr>
      <th scope="row"><%= data[i].sensID %></th>
      <td><%= data[i].teamID %></td>
      <td><%= data[i].val_x %></td>
      <td><%= data[i].val_y %></td>
      <td><%= data[i].val_z %></td>
      <td><%= data[i].date %></td>
    </tr>
    <% } %>
  </tbody>
</table>
</body>

</html>
